<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Categories</title>
</head>
<body th:with="edit=${ingredientObj.getName() != null}">
<th:block th:replace="/fragments/navbar :: navbar('ingredients', '', false)"></th:block>
<div class="container">


    <th:block th:if="${message}">
        <div th:replace="~{/fragments/alert :: alert(${message.type}, ${message.text})}"></div>
    </th:block>
    <div class="row mt-3">
        <div class="col-6">
            <h3 class="my-3">Ingredients</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between" th:each="item : ${list}">
                    <h5 th:text="${item.name}"></h5>
                    <div>
                        <a th:href="@{|/ingredients/delete/${item.getId()}|}" class="btn btn-secondary btn-sm" title="delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                        <a th:href="@{/ingredients/edit(ingredientId=${item.getId()})}" class="btn btn-secondary btn-sm" title="edit">
                            <i class="fa-regular fa-pen-to-square text-light"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <form
                    id="category-form"
                    method="post"
                    th:with="formAction=${edit ? '/ingredients/edit/' + ingredientObj.id : '/ingredients/save'}"
                    th:action="@{${formAction}}"
                    th:object="${ingredientObj}"
            >

                <div class="col-12">
                    <h3 class="my-3">Add a new Ingredient</h3>
                    <label class="form-label" for="name">Name*</label>
                    <input type="text" id="name" class="form-control" th:field="*{name}"
                           th:errorClass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>



                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </form>
        </div>
    </div>


    <!-- alert only if list is empty -->
    <th:block th:unless="${list.size() > 0}">
        <div th:replace="~{/fragments/alert :: alert('INFO', 'The list is empty')}"></div>
    </th:block>
</div>
</body>
</html>